*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Form{
  width: 500px;
  margin: 15px auto;
  padding: 20px;
  border: 1px solid #111;
  box-shadow: 0px 0px 20px #1a1a1a;
}
.form-component{
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}
.form-component > input{
  height: 30px;
  padding: 0 10px;
  border-radius: 5px;
  margin-top: 5px;
}
.errorStyle{
  border: 1px solid red;
}
.btn-submit{
  margin-top: 10px;
  width: 100%;
  height: 50px;
  background-color: rgb(0, 0, 255);
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}
.btn-submit:hover{
  background-color: rgb(24, 24, 197);
  transition: all 0.3s;
}