*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
button{
  cursor: pointer;
  transition: all 0.6s

}
.users-wrap{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.user-container{
  padding: 20px;
  margin: 10px;
  border: 1px solid #111;
}
.user-btn{
  margin: 10px;
  background-color: #1a1a1a;
  color: #fff;
  border-radius: 10px;
  width: 300px;
  height: 60px;
}
.user-btn:hover{
  background-color: #fff;
  color: #1a1a1a;
  border: 1px solid #1a1a1a;
}

.user-album{
  width: calc(25% - 30px);
  margin:  15px;
  height: 100px;
  background-color: rgba(129, 121, 186, 0.578);
}
.album-container{
  padding-top: 15px;
}
.user-album:hover{
  background-color: rgba(89, 83, 136, 0.578);
  box-shadow: 10px 5px 5px rgba(57, 57, 57, 0.578);
}
.none{
  display: none;
}
.photo-container{
  display: block;
  margin: -15px;
}
.user-img{
  width: 80px;
  height: 80px;
  margin: 15px;
}

