*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
button{
  cursor: pointer;  
  transition: all 0.6s

}
.user-block{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

}
.users-wrap{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.users-container{
  display: block;
  background-image: url(./img/avatar.jpg);
  background-position: center;
  background-size: cover;
  padding: 20px;
  margin: 10px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 1px solid #111;
}
.users-container:hover{
  box-shadow: 10px 5px 5px rgba(57, 57, 57, 0.578);
}
.user-pages{
  padding: 15px;
}
.user-btn{
  margin: 10px;
  background-color: #1a1a1a;
  color: #fff;
  border-radius: 10px;
  width: 300px;
  height: 60px;
}
.user-btn:hover{
  background-color: #fff;
  color: #1a1a1a;
  border: 1px solid #1a1a1a;
}

.user-album{
  width: calc(25% - 30px);
  height: 100px;
  margin: 15px 0;
  background-color: rgba(129, 121, 186, 0.578);
}
.album-container{
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  
}
.user-album:hover{
  background-color: rgba(89, 83, 136, 0.578);
  box-shadow: 10px 5px 5px rgba(57, 57, 57, 0.578);
}
.none{
  display: none;
}
.photo-container{
  display: block;
  margin: -15px;
}
.user-img{
  width: 80px;
  height: 80px;
  margin: 15px;
}
.back-btn{
  position: absolute;
  top: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #3e1717;
  color:  #fff;
}
