*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
button{
  cursor: pointer;
  background-color: rgb(97, 97, 244);
  color: #fff;
}
button:hover{
  background-color: rgb(70, 70, 171);
  transition: all 0.3s;
}
.Wrap{
  margin-bottom: 20px;
  width: 400px;
  min-height: 400px;
  margin: 0 auto;
  border: 1px solid rgb(212, 174, 147);
}
.Header{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-color: rgb(212, 174, 147);
}
.Header img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.list-component{
  padding: 5px 20px ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.list-component button{
  width: 20px;
  height:  20px;
  cursor: pointer;
}
.form{
  padding: 20px;
  display: flex;
  justify-content: center;
}
.form *{
  height: 30px;
}
.form input{
  padding: 0 5px;
  margin-right: 5px;
  width: 70%;
}
.form button{
  width: 40px;
  width: 30%;
}
.checked{
  text-decoration: line-through;
}