*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Main-container{
  display: flex;
  flex-direction: row;
  height: 400px;
}
.Header-container{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color:  #1a1a1a;
  color: #fff;
}
.Header-container  *{
  margin: 0 10px;
}
.Logo {
  width: 40px;
  height: 40px;
}
.Navigation-container{
  padding: 20px 10px;
  height: 100%;
  background-color: rgb(112, 111, 111);
  color: #fff;
  font-size: 1.2rem;
}
.Main-block{
  display: flex;
  flex-direction: column;
  width: 85%;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.Main-block img{
  width: 350px;
  padding-bottom: 15px;
  
}